// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for Xilinx KR260 MV-Camera
 *
 * Copyright (C) 2021 - 2022, Xilinx, Inc.
 * Copyright (C) 2022, Advanced Micro Devices, Inc.
 *
 */

/dts-v1/;
/plugin/;

&fpga_full {
    #address-cells = <2>;
    #size-cells = <2>;
    firmware-name = "kr260-mv-camera.bit.bin";
    resets = <&zynqmp_reset 116>,<&zynqmp_reset 117>;
};

&amba {
	clocking0: clocking0 {
		#clock-cells = <0>;
		assigned-clock-rates = <99999001>;
		assigned-clocks = <&zynqmp_clk 71>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 71>;
		compatible = "xlnx,fclk";
	};
	clocking1: clocking1 {
		#clock-cells = <0>;
		assigned-clock-rates = <199998001>;
		assigned-clocks = <&zynqmp_clk 72>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 72>;
		compatible = "xlnx,fclk";
	};
	afi0: afi0 {
		compatible = "xlnx,afi-fpga";
		config-afi = <0 0>, <1 0>, <2 0>, <3 0>, <4 0>, <5 0>, <6 0>, <7 0>, <8 0>, <9 0>, <10 0>, <11 0>, <12 0>, <13 0>, <14 0xA00>, <15 0x00>;
		resets = <&zynqmp_reset 116>,
				<&zynqmp_reset 117>,
				<&zynqmp_reset 118>,
				<&zynqmp_reset 119>;
		reset-names = "pl0", "pl1", "pl2", "pl3";
	};

	CPU_axi_epc_0: axi_epc@a0000000 {
		/* This is a place holder node for a custom IP, user may need to update the entries */
		clock-names = "s_axi_aclk", "prh_clk";
		clocks = <&misc_clk_0>, <&misc_clk_0>;
		compatible = "xlnx,axi-epc-2.0";
		reg = <0x0 0xa0000000 0x0 0x10000>;
		xlnx,num-peripherals = <0x1>;
		xlnx,prh-clk-period-ps = <0x2710>;
		xlnx,prh-clk-support = <0x0>;
		xlnx,prh-max-adwidth = <0x20>;
		xlnx,prh-max-awidth = <0x10>;
		xlnx,prh-max-dwidth = <0x20>;
		xlnx,prh0-addr-th = <0x0>;
		xlnx,prh0-addr-tsu = <0x0>;
		xlnx,prh0-ads-width = <0x0>;
		xlnx,prh0-awidth = <0x10>;
		xlnx,prh0-bus-multiplex = <0x0>;
		xlnx,prh0-csn-th = <0x0>;
		xlnx,prh0-csn-tsu = <0x0>;
		xlnx,prh0-data-th = <0x0>;
		xlnx,prh0-data-tinv = <0x0>;
		xlnx,prh0-data-tout = <0x0>;
		xlnx,prh0-data-tsu = <0x0>;
		xlnx,prh0-dwidth = <0x20>;
		xlnx,prh0-dwidth-match = <0x0>;
		xlnx,prh0-fifo-access = <0x0>;
		xlnx,prh0-fifo-offset = <0x0>;
		xlnx,prh0-rd-cycle = <0x0>;
		xlnx,prh0-rdn-width = <0x0>;
		xlnx,prh0-rdy-tout = <0x1>;
		xlnx,prh0-rdy-width = <0x5f5e100>;
		xlnx,prh0-sync = <0x1>;
		xlnx,prh0-wr-cycle = <0x0>;
		xlnx,prh0-wrn-width = <0x0>;
		xlnx,prh1-addr-th = <0x0>;
		xlnx,prh1-addr-tsu = <0x0>;
		xlnx,prh1-ads-width = <0x0>;
		xlnx,prh1-awidth = <0x20>;
		xlnx,prh1-bus-multiplex = <0x0>;
		xlnx,prh1-csn-th = <0x0>;
		xlnx,prh1-csn-tsu = <0x0>;
		xlnx,prh1-data-th = <0x0>;
		xlnx,prh1-data-tinv = <0x0>;
		xlnx,prh1-data-tout = <0x0>;
		xlnx,prh1-data-tsu = <0x0>;
		xlnx,prh1-dwidth = <0x20>;
		xlnx,prh1-dwidth-match = <0x0>;
		xlnx,prh1-fifo-access = <0x0>;
		xlnx,prh1-fifo-offset = <0x0>;
		xlnx,prh1-rd-cycle = <0x0>;
		xlnx,prh1-rdn-width = <0x0>;
		xlnx,prh1-rdy-tout = <0x0>;
		xlnx,prh1-rdy-width = <0x0>;
		xlnx,prh1-sync = <0x0>;
		xlnx,prh1-wr-cycle = <0x0>;
		xlnx,prh1-wrn-width = <0x0>;
		xlnx,prh2-addr-th = <0x0>;
		xlnx,prh2-addr-tsu = <0x0>;
		xlnx,prh2-ads-width = <0x0>;
		xlnx,prh2-awidth = <0x20>;
		xlnx,prh2-bus-multiplex = <0x0>;
		xlnx,prh2-csn-th = <0x0>;
		xlnx,prh2-csn-tsu = <0x0>;
		xlnx,prh2-data-th = <0x0>;
		xlnx,prh2-data-tinv = <0x0>;
		xlnx,prh2-data-tout = <0x0>;
		xlnx,prh2-data-tsu = <0x0>;
		xlnx,prh2-dwidth = <0x20>;
		xlnx,prh2-dwidth-match = <0x0>;
		xlnx,prh2-fifo-access = <0x0>;
		xlnx,prh2-fifo-offset = <0x0>;
		xlnx,prh2-rd-cycle = <0x0>;
		xlnx,prh2-rdn-width = <0x0>;
		xlnx,prh2-rdy-tout = <0x0>;
		xlnx,prh2-rdy-width = <0x0>;
		xlnx,prh2-sync = <0x0>;
		xlnx,prh2-wr-cycle = <0x0>;
		xlnx,prh2-wrn-width = <0x0>;
		xlnx,prh3-addr-th = <0x0>;
		xlnx,prh3-addr-tsu = <0x0>;
		xlnx,prh3-ads-width = <0x0>;
		xlnx,prh3-awidth = <0x20>;
		xlnx,prh3-bus-multiplex = <0x0>;
		xlnx,prh3-csn-th = <0x0>;
		xlnx,prh3-csn-tsu = <0x0>;
		xlnx,prh3-data-th = <0x0>;
		xlnx,prh3-data-tinv = <0x0>;
		xlnx,prh3-data-tout = <0x0>;
		xlnx,prh3-data-tsu = <0x0>;
		xlnx,prh3-dwidth = <0x20>;
		xlnx,prh3-dwidth-match = <0x0>;
		xlnx,prh3-fifo-access = <0x0>;
		xlnx,prh3-fifo-offset = <0x0>;
		xlnx,prh3-rd-cycle = <0x0>;
		xlnx,prh3-rdn-width = <0x0>;
		xlnx,prh3-rdy-tout = <0x0>;
		xlnx,prh3-rdy-width = <0x0>;
		xlnx,prh3-sync = <0x0>;
		xlnx,prh3-wr-cycle = <0x0>;
		xlnx,prh3-wrn-width = <0x0>;
		xlnx,s-axi-clk-period-ps = <0x2710>;
	};
	misc_clk_0: misc_clk_0 {
		#clock-cells = <0>;
		clock-frequency = <99999000>;
		compatible = "fixed-clock";
	};
	IS_CONTROL_sensor_iic: i2c@a0010000 {
		#address-cells = <1>;
		#size-cells = <0>;
		clock-names = "s_axi_aclk";
		clocks = <&misc_clk_0>;
		compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
		interrupt-names = "iic2intc_irpt";
		interrupt-parent = <&gic>;
		interrupts = <0 91 4>;
		reg = <0x0 0xa0010000 0x0 0x10000>;
		imx547: sensor@1a {
			compatible = "framos,imx547";
			reg = <0x1a>;
			reset-gpios = <&gpio 82 0>, <&gpio 83 0>;
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				sensor_out: endpoint {
					remote-endpoint = <&subset_conv_in>;
				};
			};
		};
	};
	SLVS_EC_slvs_ec_rx_0: slvs_ec_rx@a0020000 {
		/* This is a place holder node for a custom IP, user may need to update the entries */
		clock-names = "axi_aclk";
		clocks = <&misc_clk_0>;
		compatible = "xlnx,slvs-ec-rx-1.5";
		reg = <0x0 0xa0020000 0x0 0x10000>;
	};

	ppi_video@a0030000 {
		clock-names = "axi_aclk";
		clocks = <&misc_clk_0>;
		compatible = "xlnx,ppi-video-1.0";
		reg = <0x0 0xa0030000 0x0 0x10000>;
		xlnx,s00-axi-addr-width = <0x4>;
		xlnx,s00-axi-data-width = <0x20>;
	};

	gev_framebuf_0: framebuf@a0040000 {
		/* This is a place holder node for a custom IP, user may need to update the entries */
		compatible = "xlnx,framebuf-2.1.2";
		interrupt-names = "sys_irq";
		interrupt-parent = <&gic>;
		interrupts = <0 89 4>;
		reg = <0x0 0xa0040000 0x0 0x10000>;
	};
	gev_gendcip_0: gendcip@a0008000 {
		/* This is a place holder node for a custom IP, user may need to update the entries */
		clock-names = "s0_axi_aclk", "s1_axis_aclk";
		clocks = <&misc_clk_0>, <&misc_clk_1>;
		compatible = "xlnx,gendcip-1.0.3";
		reg = <0x0 0xa0008000 0x0 0x8000>;
	};
	misc_clk_1: misc_clk_1 {
		#clock-cells = <0>;
		clock-frequency = <237600000>;
		compatible = "fixed-clock";
	};
	gev_xgige_0: xgige@a0060000 {
		clock-names = "s0_axi_aclk", "rx_axis_aclk";
		clocks = <&misc_clk_0>, <&misc_clk_2>;
		compatible = "xlnx,axi-epc-2.0", "s2i,s2imac-epc";
		device_type = "network";
		interrupt-names = "sys_irq";
		interrupt-parent = <&gic>;
		interrupts = <0 90 4>;
		reg = <0x0 0xa0060000 0x0 0x10000 0x0 0xa0000000 0x0 0x10000 0x0 0xa0040000 0x0 0x10000>;
		reg-names = "core", "video", "framebuffer";
		clock-frequency = <0x5f5e100>;
		status = "okay";
		config-interface = "DEFAULT";
		phy-base-address = <0xa0070000>;
		phy-base-address-length = <0x10000>;
		local-mac-address = [00 0a 35 00 22 02];
	};
	misc_clk_2: misc_clk_2 {
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		compatible = "fixed-clock";
	};
	xlnx_isp_v_frmbuf_wr_0: v_frmbuf_wr@b0050000 {
		#dma-cells = <1>;
		clock-names = "ap_clk";
		clocks = <&misc_clk_1>;
		compatible = "xlnx,v-frmbuf-wr-2.3", "xlnx,axi-frmbuf-wr-v2.2";
		interrupt-names = "interrupt";
		interrupt-parent = <&gic>;
		interrupts = <0 93 4>;
		reg = <0x0 0xb0050000 0x0 0x10000>;
		reset-gpios = <&gpio 80 1>;
		xlnx,dma-addr-width = <32>;
		xlnx,dma-align = <32>;
		xlnx,max-height = <1080>;
		xlnx,max-width = <1920>;
		xlnx,pixels-per-clock = <4>;
		xlnx,s-axi-ctrl-addr-width = <0x7>;
		xlnx,s-axi-ctrl-data-width = <0x20>;
		xlnx,vid-formats = "bgr888", "y8";
		xlnx,video-width = <8>;
	};

	axis_subset_conv: isp_subset_convertor {
		compatible = "xlnx,axis-subsetconv-1.1";
		ports {
			port@0 {
				reg = <0x0>;
				subset_conv_in: endpoint {
					remote-endpoint = <&sensor_out>;
				};
			};
			port@1 {
				reg = <0x1>;
				subset_conv_out: endpoint {
					remote-endpoint = <&fbwr_in>;
				};
			};
		};
	};

	xxv_ethernet_0: ethernet@a0070000 {
		clock-frequency = <100000000>;
		clock-names = "rx_core_clk_0", "dclk", "qpll0clk_in", "qpll0refclk_in", "qpll1clk_in", "qpll1refclk_in", "s_axi_aclk_0";
		clocks = <&misc_clk_3>, <&misc_clk_0>, <&misc_clk_2>, <&misc_clk_2>, <&misc_clk_2>, <&misc_clk_2>, <&misc_clk_0>;
		compatible = "xlnx,xxv-ethernet-4.0", "xlnx,xxv-ethernet-1.0";
		device_type = "network";
		local-mac-address = [00 0a 35 00 00 02];
		phy-mode = "base-r";
		reg = <0x0 0xa0070000 0x0 0x10000>;
		xlnx = <0x0>;
		xlnx,add-gt-cntrl-sts-ports = <0x0>;
		xlnx,anlt-clk-in-mhz = <0x64>;
		xlnx,axis-tdata-width = <0x40>;
		xlnx,axis-tkeep-width = <0x7>;
		xlnx,base-r-kr = "BASE-R";
		xlnx,clocking = "Asynchronous";
		xlnx,cmac-core-select = "CMACE4_X0Y0";
		xlnx,core = "Ethernet PCS/PMA 64-bit";
		xlnx,data-path-interface = "MII";
		xlnx,enable-datapath-parity = <0x0>;
		xlnx,enable-gt-board-interface = <0x1>;
		xlnx,enable-pipeline-reg = <0x0>;
		xlnx,enable-preemption = <0x0>;
		xlnx,enable-preemption-fifo = <0x0>;
		xlnx,enable-rx-flow-control-logic = <0x0>;
		xlnx,enable-time-stamping = <0x0>;
		xlnx,enable-tx-flow-control-logic = <0x0>;
		xlnx,enable-vlane-adjust-mode = <0x0>;
		xlnx,family-chk = "zynquplus";
		xlnx,fast-sim-mode = <0x0>;
		xlnx,gt-diffctrl-width = <0x4>;
		xlnx,gt-drp-clk = "100.00";
		xlnx,gt-group-select = "Quad X0Y0";
		xlnx,gt-location = <0x1>;
		xlnx,gt-ref-clk-freq = "156.25";
		xlnx,gt-type = "GTH";
		xlnx,gtm-group-select = "NA";
		xlnx,include-auto-neg-lt-logic = "None";
		xlnx,include-axi4-interface = <0x1>;
		xlnx,include-fec-logic = <0x0>;
		xlnx,include-hybrid-cmac-rsfec-logic = <0x0>;
		xlnx,include-rsfec-logic = <0x0>;
		xlnx,include-shared-logic = <0x0>;
		xlnx,include-statistics-counters = <0x1>;
		xlnx,include-user-fifo = <0x0>;
		xlnx,ins-loss-nyq = <0x1e>;
		xlnx,lane1-gt-loc = "X0Y6";
		xlnx,lane2-gt-loc = "NA";
		xlnx,lane3-gt-loc = "NA";
		xlnx,lane4-gt-loc = "NA";
		xlnx,line-rate = <0xa>;
		xlnx,mii-ctrl-width = <0x8>;
		xlnx,mii-data-width = <0x40>;
		xlnx,num-of-cores = <0x1>;
		xlnx,ptp-clocking-mode = <0x0>;
		xlnx,ptp-operation-mode = <0x2>;
		xlnx,runtime-switch = <0x0>;
		xlnx,rx-eq-mode = "AUTO";
		xlnx,rxmem = <0x0>;
		xlnx,statistics-regs-type = <0x0>;
		xlnx,switch-1-10-25g = <0x0>;
		xlnx,sys-clk = <0xfa0>;
		xlnx,tx-latency-adjust = <0x0>;
		xlnx,tx-total-bytes-width = <0x4>;
		xlnx,xgmii-interface = <0x1>;
		zclock-names = "NULL";
		zclocks = "NULL";
		xxv_ethernet_0_mdio: mdio {
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
	misc_clk_3: misc_clk_3 {
		#clock-cells = <0>;
		clock-frequency = <156250000>;
		compatible = "fixed-clock";
	};
	vcap_xlnx_isp_v_proc_ss_0 {
		compatible = "xlnx,video";
		dma-names = "port0";
		dmas = <&xlnx_isp_v_frmbuf_wr_0 0>;
		vcap_portsxlnx_isp_v_proc_ss_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			vcap_portxlnx_isp_v_proc_ss_0: port@0 {
				direction = "input";
				reg = <0>;
				fbwr_in: endpoint {
					remote-endpoint = <&subset_conv_out>;
				};
			};
		};
	};

	/* zocl */
	zocl: zyxclmm_drm {
		compatible = "xlnx,zocl";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 104  4>, <0 105  4>, <0 106  4>, <0 107  4>,
					<0 108  4>, <0 109  4>, <0 110  4>, <0 111  4>;
	};
};
